<div class="row">
  <ng-container *ngFor="let key of keys; let i = index">
    <div>
      <div class="card" style="width: 23rem;">
        <!--<img class="card-img-top" src="..." alt="Card image cap">-->
        <div class="card-body">
          <h4 class="card-title">{{key}}</h4>
          <div class="row" align="center">
            <div class="col-sm" *ngFor="let order of orders[i].asks[0]; let a = index">{{order}}</div>
            <div class="col-sm" *ngFor="let order of orders[i].bids[0]; let b = index">{{order}}</div>
            <div class="col-sm-6 offset-3" style="font-size: 10px;">0.12345678</div>
          </div>
          <p>
          <div class="col">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Sell</button>
              </span>
              <input type="number" class="form-control" style="font-size: 12px;" placeholder="Price" aria-label="Price">
              <input type="number" class="form-control" style="font-size: 12px;" placeholder="Amount" aria-label="Amount">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Buy</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
