<div class="row">
  <div class="col-6">
    <canvas baseChart #chart="base-chart"
            [chartType]="'line'"
            [labels]="lineChartLabels"
            [options]="options"
            [datasets]="d"></canvas>
  </div>
</div>
<br>
<div class="btn-toolbar" role="toolbar" aria-label="Button groups">
  <p>Zoom</p>
  <div class="btn-group btn-group" role="group" aria-label="Zoom">
    <button type="button" class="btn btn-primary" value="{{btnZoom.value[i]}}"
            *ngFor="let btn of btnZoom.label; let i = index"
            (click)="onChangeZoom(btnZoom.value[i])">{{btn}}
    </button>
  </div>
  <p>Candlesticks</p>
  <div class="btn-group btn-group" role="group" aria-label="Candlesticks">
    <button type="button" class="btn btn-primary" value="{{btnCandlesticks.value[i]}}"
            *ngFor="let btn of btnCandlesticks.label; let i = index"
            (click)="onChangeCandlesticks(btnCandlesticks.value[i])">{{btn}}
    </button>
  </div>
</div>
<br>
<!--
<div class="row">
  <div class="col-6">
    <app-tradehistory [pair]="pair"></app-tradehistory>
  </div>
  <div class="col-6">
    <app-tickerorderdetail [pair]="pair"></app-tickerorderdetail>
  </div>
</div>
-->
