<ng-container *ngFor="let caption of captions; let k = index">
  <table class="table table-sm table-striped table-hover table-bordered"
         [ngStyle]="{'float':k===0 ? 'left': 'right', 'width': '50%'}">
    <caption>{{caption}}</caption>
    <thead>
    <tr>
      <th *ngFor="let column of columns; let i = index">{{column}}</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="[orderbook?.asks, orderbook?.bids] as asksbids">
      <tr *ngFor="let items of asksbids[k]; let i = index">
        <td>{{i + 1}}</td>
          <td>{{items[0]}}</td>
          <td>{{items[1]}}</td>
        <td>{{items[0] * items[1] | number:'6.8-8'}}</td>
      </tr>
      <tr>
       <td>T</td>
        <td></td>
        <ng-container *ngIf="k===0; then asksBlock else bidsBlock"></ng-container>
        <ng-template #asksBlock>
          <td>{{totalAsk[1] | number:'0.8-8'}}</td>
          <td>{{totalAsk[2] | number:'6.8-8'}}</td>
        </ng-template>
        <ng-template #bidsBlock>
          <td>{{totalBid[1] | number:'0.8-8'}}</td>
          <td>{{totalBid[2] | number:'6.8-8'}}</td>
        </ng-template>
      </tr>
    </ng-container>
    </tbody>
  </table>
</ng-container>
