<!--<div>
  <div>
    <ngb-tabset type="pills">
      <ngb-tab title="{{pair}} ({{pairsDescr[n]}})" *ngFor="let pair of pairs; let n = index">
        <ng-template ngbTabContent>
          <table class="table table-sm table-striped table-hover table-bordered">
            <thead>
            <tr>
              <th *ngFor="let column of columns; let i = index">{{column}}</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let key of keys; let i = index">
              <tr *ngIf="key.indexOf(pair+'_')>-1 || pair=='ALL'" (click)="setClickedPair(i)" style="font-size: 9pt;"
                  [class.active]="i == selectedPair">
                <td>{{i + 1}}</td>
                <td>{{key}}</td>
                <td>{{tickers[i].id}}</td>
                <td>{{tickers[i].last}}</td>
                <td>{{tickers[i].lowestAsk}}</td>
                <td>{{tickers[i].highestBid}}</td>
                <td>{{tickers[i].percentChange}}</td>
                <td>{{tickers[i].baseVolume}}</td>
                <td>{{tickers[i].quoteVolume}}</td>
                <td><input type="checkbox" [disabled]="true" [checked]="tickers[i].isFrozen==1"></td>
                <td>{{tickers[i].high24hr}}</td>
                <td>{{tickers[i].low24hr}}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>-->
<pre>{{data | json}}</pre>
