<!--<p>
  tradehistorynew works!
</p>-->
<!--<table class="table table-sm table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th colspan="2">Common</th>
    <th colspan="7">Sell</th>
    <th colspan="7">Buy</th>
  </tr>
  <tr>
    <th *ngFor="let column of columns">{{column}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let trade of tradehistory; let i = index">
    <td>{{i + 1}}</td>
    <td>{{trade.part/1000}}</td>
    <td>{{(trade.sell.min === maxValue ? '' : trade.sell.min | number:'0.8-8')}}</td>
    <td>{{(trade.sell.max === minValue ? '' : trade.sell.max | number:'0.8-8')}}</td>
    <td>{{(trade.sell.amount === 0 ? '' : trade.sell.amount | number:'0.8-8')}}</td>
    <td>{{(trade.sell.total === 0 ? '' : trade.sell.total | number:'0.8-8')}}</td>
    <td [ngClass]="i===parts.length-1?'table-primary':''">{{(trade.sell.amount === 0 ? '' : getTotal(true, true, i)) | number:'0.8-8'}}</td>
    <td>{{(trade.sell.total === 0 ? '' : getTotal(true, false, i) | number:'0.8-8')}}</td>
    <td>{{(trade.sell.count === 0 ? '' : trade.sell.count)}}</td>
    <td>{{(trade.buy.min === maxValue ? '' : trade.buy.min | number:'0.8-8')}}</td>
    <td>{{(trade.buy.max === minValue ? '' : trade.buy.max | number:'0.8-8')}}</td>
    <td>{{(trade.buy.amount === 0 ? '' : trade.buy.amount | number:'0.8-8')}}</td>
    <td>{{(trade.buy.total === 0 ? '' : trade.buy.total | number:'0.8-8')}}</td>
    <td [ngClass]="i===parts.length-1?'table-primary':''">{{(trade.buy.amount === 0 ? '' : getTotal(false, true, i)) | number:'0.8-8'}}</td>
    <td>{{(trade.buy.total === 0 ? '' : getTotal(false, false, i) | number:'0.8-8')}}</td>
    <td>{{(trade.buy.count === 0 ? '' : trade.buy.count)}}</td>
  </tr>
  </tbody>
</table>-->
<!--<pre>{{tradehistory | json}}</pre>-->
<table class="table table-sm table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th colspan="2">Common</th>
    <th colspan="7">Sell</th>
    <th colspan="7">Buy</th>
  </tr>
  <tr>
    <th *ngFor="let column of columns">{{column}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let trade of tradehistory; let i = index">
    <td>{{i + 1}}</td>
    <td>{{trade.part/1000}}</td>
    <ng-container *ngFor="let item of trade | keys | slice : 1; let j = index">
      <!--<td>{{item.key}}</td>
      <td><pre>{{item | json}}</pre>pre></td>-->
      <td>{{(item.value.min === maxValue ? '' : item.value.min | number:'0.8-8')}}</td>
      <td>{{(item.value.max === minValue ? '' : item.value.max | number:'0.8-8')}}</td>
      <td>{{(item.value.amount === 0 ? '' : item.value.amount | number:'0.8-8')}}</td>
      <td>{{(item.value.total === 0 ? '' : item.value.total | number:'0.8-8')}}</td>
      <td [ngClass]="i===parts.length-1?'table-primary':''">{{(item.value.amount === 0 ? '' : getTotal(item.key==='sell', true, i)) | number:'0.8-8'}}</td>
      <td>{{(item.value.total === 0 ? '' : getTotal(item.key==='sell', false, i) | number:'0.8-8')}}</td>
      <td>{{(item.value.count === 0 ? '' : item.value.count)}}</td>
    </ng-container>
  </tr>
  </tbody>
</table>
