<table class="table table-sm table-striped table-hover table-bordered">
  <thead>
  <ng-container *ngFor="let column of columns; let i = index">
    <tr *ngIf="column==='Name'; then filter else label">
    </tr>
    <ng-template #label>
      <th>{{column}}</th>
    </ng-template>
    <ng-template #filter>
      <th><input type="text" name="{{column}}" [(ngModel)]="searchText" placeholder="{{column}}"></th>
    </ng-template>
  </ng-container>
  </thead>
  <tbody>
  <ng-container *ngFor="let order of data | searchfilter: searchText; let i = index">
    <tr id="{{order.key}}" (click)="setPair(order.key)">
      <td>{{i + 1}}</td>
      <td class="icons cc {{getChr(order.key)}}" title="{{order.key}}"></td>
      <td>{{order.key}}</td>
      <td>{{order.asks.lastPrice | number:'0.8-8'}}</td>
      <td>{{getInUSDT(order.key, false, order.asks.lastPrice) | number:'0.8-8'}}</td>
      <td>{{order.bids.lastPrice | number:'0.8-8'}}</td>
      <td>{{getInUSDT(order.key, false, order.bids.lastPrice) | number:'0.8-8'}}</td>
      <td>{{order.asks.lastPrice - order.bids.lastPrice | number:'0.8-8'}}</td>
      <td>{{order.asks.totalVolume | number:'0.8-8'}}</td>
      <td>{{order.asks.totalPrice | number:'0.8-8'}}</td>
      <td>{{order.bids.totalVolume | number:'0.8-8'}}</td>
      <td>{{order.bids.totalPrice | number:'0.8-8'}}</td>
      <td>{{order.isFrozen}}</td>
      <td>{{order.seq}}</td>
      <!--<td><pre>{{order | json}}</pre></td>-->
    </tr>
    <tr *ngIf="selectedPair===order.key; then pairDetails"></tr>
    <ng-template #pairDetails>
      <td colspan="10">
        <app-chart [pair]="order.key"></app-chart>
        <!--<app-tradehistory [pair]="order.key" [limit]="1000"></app-tradehistory>-->
      </td>
    </ng-template>
  </ng-container>
  </tbody>
</table>

<!--<table class="table table-sm table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th *ngFor="let column of columns">{{column}}</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let order of data | keys; let i = index">
    <tr id="{{order.key}}" (click)="setPair(order.key)">
      <td>{{i + 1}}</td>
      <td class="icons cc {{getChr(order.key)}}" title="{{order.key}}"></td>
      <td>{{order.key}}</td>
      <td>{{order.value.asks[0][0] | number:'0.8-8'}}</td>
      <td>{{order.value.bids[0][0] | number:'0.8-8'}}</td>
      <td>{{order.value.asks[0][0] - order.value.bids[0][0] | number:'0.8-8'}}</td>
      <td>{{order.value.asks[0][0] * order.value.asks[0][1] | number:'0.8-8'}}</td>
      <td>{{order.value.bids[0][0] * order.value.bids[0][1] | number:'0.8-8'}}</td>
      <td>{{order.value.isFrozen}}</td>
      <td>{{order.value.seq}}</td>
    </tr>
    <tr *ngIf="selectedPair===order.key; then pairDetails"></tr>
    <ng-template #pairDetails>
      <td colspan="10">
        <app-chart [pair]="order.key"></app-chart>
        // <app-tradehistory [pair]="order.key" [limit]="1000"></app-tradehistory>
      </td>
    </ng-template>
  </ng-container>
  </tbody>
</table>-->
