.icons {
  /* margin: 3rem 0; */
  height: 10px;
  width: 10px;
}

i.cc {
  font-size: 4rem;
  display: inline-block;
  /* margin: 0 1.3rem 1.3rem 0; */
  transition: 0.1s ease all;
}

i.cc:hover {
  color: #0060BD;
  transform: rotate(-20deg);
  transform-origin: 0.49em 0.7em;
}
