<div>
  <div class="well well-lg">
    <!--<h2>Selected pair: <strong>{{SelectedPair}}</strong></h2>-->
  </div>
  <div>
    <ng-container *ngFor="let caption of captions; let k = index">
      <table class="table table-sm table-striped table-hover table-bordered"
             [ngStyle]="{'float':k===0 ? 'left': 'right', 'width': '50%'}">
        <caption>{{caption}}</caption>
        <thead>
        <tr>
          <th *ngFor="let column of columns; let i = index">{{column}}</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="[ asks, bids] as asksbids">
          <tr *ngFor="let items of asksbids[k]; let i = index" style="font-size: 9pt;">
            <td>{{i + 1}}</td>
            <td *ngFor="let item of items; let j = index">{{item}}</td>
            <td *ngIf="k===0; then asksBlock else bidsBlock">Volume</td>
            <ng-template #asksBlock>{{getAskVolume(i)}}</ng-template>
            <ng-template #bidsBlock>{{getBidVolume(i)}}</ng-template>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>
