<div class="col-3">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Price</span>
    </div>
    <input type="number" [(ngModel)]="rate" (ngModelChange)="changeRate()" class="form-control" placeholder="Rate"
           aria-label="Rate">
    <div class="input-group-append">
      <span class="input-group-text">BTC</span>
    </div>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Amount</span>
    </div>
    <input type="number" [(ngModel)]="amount" (ngModelChange)="changeAmount()" pattern="\d+(\.\d{2})?" class="form-control" placeholder="Amount"
           aria-label="Amount">
    <div class="input-group-append">
      <span class="input-group-text">DOGE</span>
    </div>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Total</span>
    </div>
    <input type="number" [(ngModel)]="total" (ngModelChange)="changeTotal()" class="form-control" placeholder="Total"
           aria-label="Total">
    <div class="input-group-append">
      <span class="input-group-text">BTC</span>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <button type="button" class="btn btn-danger col-4">Sell</button>
    <div class="col-1"></div>
    <button type="button" class="btn btn-success col-4">Buy</button>
  </div>
</div>
