<p>
  test works!
</p>
<ul>
  <li *ngFor="let val of data">
    {{val.key}} : {{getTest(val.key, false, val.asks.lastPrice)}} | {{getTest(val.key, true, val.bids.lastPrice)}}
  </li>
</ul>
<pre>{{data | json}}</pre>
