<div class="col-8">
  <table class="table table-sm table-striped table-hover table-bordered">
    <caption>{{pair}}</caption>
    <thead>
    <tr>
      <th *ngFor="let column of ['Sec', 'Percent', 'Min/Max', 'Sell', 'Cnt', 'Percent', 'Min/Max', 'Buy', 'Cnt']">
        {{column}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let part of parts; let i = index">
      <td>{{part/1000}}</td>
      <td *ngIf="tradehistory['sell' + i].min != maxValue; then sellValueBlock else sellEmptyBlock">Min-Max</td>
      <ng-template #sellValueBlock>
        <td>{{getPercent('sell', i) | number:'2.6-6'}}</td>
        <td>{{tradehistory['sell' + i].min | number:'6.8-8'}}<br>{{tradehistory['sell' + i].max | number:'6.8-8'}}
        </td>
      </ng-template>
      <ng-template #sellEmptyBlock>
        <td>{{0 | number:'2.6-6'}}</td>
        <td>{{0 | number:'6.8-8'}}<br>{{0 | number:'6.8-8'}}</td>
      </ng-template>
      <td>{{tradehistory['sell' + i].amount | number:'6.8-8'}}</td>
      <td>{{tradehistory['sell' + i].count}}</td>
      <td *ngIf="tradehistory['buy' + i].min != maxValue; then buyValueBlock else buyEmptyBlock">Min-Max</td>
      <ng-template #buyValueBlock>
        <td>{{getPercent('buy', i) | number:'2.6-6'}}</td>
        <td>{{tradehistory['buy' + i].min | number:'6.8-8'}}<br>{{tradehistory['buy' + i].max | number:'6.8-8'}}
        </td>
      </ng-template>
      <ng-template #buyEmptyBlock>
        <td>{{0 | number:'2.6-6'}}</td>
        <td>{{0 | number:'6.8-8'}}<br>{{0 | number:'6.8-8'}}</td>
      </ng-template>
      <td>{{tradehistory['buy' + i].amount | number:'6.8-8'}}</td>
      <td>{{tradehistory['buy' + i].count}}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>{{sellTotal.percent | number:'2.6-6'}}</td>
      <td>{{sellTotal.min | number:'6.8-8'}}<br>{{sellTotal.max | number:'6.8-8'}}</td>
      <td>{{sellTotal.amount | number:'6.8-8'}}</td>
      <td>{{sellTotal.count}}</td>
      <td>{{buyTotal.percent | number:'2.6-6'}}</td>
      <td>{{buyTotal.min | number:'6.8-8'}}<br>{{buyTotal.max | number:'6.8-8'}}</td>
      <td>{{buyTotal.amount | number:'6.8-8'}}</td>
      <td>{{buyTotal.count}}</td>
    </tr>
    </tbody>
  </table>
</div>

<!--<table class="table table-sm table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th *ngFor="let column of columns">{{column}}</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let trade of tradehistory; let i = index">
    <tr>
      <td>{{i + 1}}</td>
      <td>{{trade.globalTradeID}}</td>
      <td>{{trade.tradeID}}</td>
      <td>{{trade.date}}</td>
      <td>{{trade.type}}</td>
      <td>{{trade.rate | number:'6.8-8'}}}</td>
      <td>{{trade.amount | number:'6.8-8'}}}</td>
      <td>{{trade.total | number:'6.8-8'}}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>-->
